<h1 class="text-center">Video Examples</h1> 
<h2 class="text-center">Click to view more:</h2>
<div class="col-md-4 text-center">
	<h4>Sports</h4>
	<p>(examples from this section will show here)</p>
</div>
<div class="col-md-4 text-center">
	<h4>Fun</h4>
	<p>(examples from this section will show here)</p>
</div>
<div class="col-md-4 text-center">
	<h4>Family</h4>
	<p>(examples from this section will show here)</p>
</div>
