<h1 class="text-center">Video Examples</h1> 
<h2 class="text-center">Click to view more:</h2>
<div class="col-md-4 text-center">
	<h4>Sports</h4>
	<p>(examples from this section will show here)</p>
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yKP7jQknGjs" allowfullscreen></iframe>
	</div>
	<p><%= link_to "click here for more sports videos", video_examples_sports_path %></p>
</div>
<div class="col-md-4 text-center">
	<h4>Fun</h4>
	<p>(examples from this section will show here)</p>
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/d_z2CA-o13U" allowfullscreen></iframe>
	</div>
	<p><%= link_to "click here for more fun videos", video_examples_fun_path %></p>
</div>
<div class="col-md-4 text-center">
	<h4>Family</h4>
	<p>(examples from this section will show here)</p>
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yaZ3ZRyMtb8" allowfullscreen></iframe>
	</div>
	<p><%= link_to "click here for more family videos", video_examples_family_path %></p>
</div>
