<div class="jumbotron title1">
	<div class="highlight text-center" style="color: white;">
		<h1>
			My GoPro edits
		</h1>
		<%= link_to '<em>Lets get started</em>'.html_safe, qualities_path, class: "btn btn-primary", style: "margin-bottom: 20px;" %>
	</div>
</div>
<!--
<div style="margin-left: 200px">
	<p>
		We can help you to fulfill your editing needs by:
	</p>
	<ol>
		<li>Cutting your videos to specific lengths
		</li>
		<li>organizing the videos to create a theme
		</li>
		<li>and finally, adding music to make the video more enjoyable.
		</li>
	</ol>
	<p>
		We work with all kinds of videos:
	</p>
	<ul>
		<li>Sports
		</li>
		<li>Entertainment
		</li>
		<li>Family
		</li>
	</ul>
</div>
-->

