<div class="jumbotron title1 col-xs-4 col-md-6">
	<div class="highlight" style="color: white;">
		<h1>
			My GoPro edits
		</h1>
		<%= link_to '<em>Lets get started</em>'.html_safe, qualities_path, class: "btn btn-primary", style: "margin-bottom: 20px;" %>
	</div>
	<p>Do you have video that you want to look great?! Get started now by clicking the button above!</p>
</div>



