<div class="jumbotron title1">
	<div class="highlight text-center" style="color: white;">
		<h1>
			My GoPro edits
		</h1>
		<%= link_to '<em>Lets get started</em>'.html_safe, qualities_path, class: "btn btn-primary", style: "margin-bottom: 20px;" %>
	</div>
</div>



