<div style="margin-top: 290px; margin-left: 25px;">
<h1>Typography</h1>
<p>This website is a great example of Typography. Theres isn't an overload of different font types and sizes, it's very clean and simple. Although the font is very simple it is very clean. It allows the eye to be at ease.</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Screenshot from example website
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="container">
		<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="/assets/typography.jpg"></iframe>
				</div>
        
	</div>
</div>

<p>Check out the website: <a href="http://thuytruc.me/">Truc design</a></p>
