<div style="margin-top: 290px; margin-left: 25px;">
<h1>Alignment</h1>
<p>This shows alignment very well, the forms are aligned perfectly in the middle with the same amount of width between them.</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Screenshot from example website
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="container">
		<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="/assets/align.png"></iframe>
				</div>
        
	</div>
</div>

<p>Check out the website: <a href="wearemovingthings.com">click here!</a></p>
