<div class="jumbotron title1">
	<h1 class="highlight text-center" >
		My GoPro edits
		<p style="margin-top: 15px;">
			Already have a video that you would like to be professionally edited?
			<a class="btn btn-primary btn-xs " href="#" role="button">Lets get started!</a>
		</p>
	</h1>
	
</div>



