<div class="jumbotron title1">
	<h1 class="highlight" >
		Welcome to <font face="Architects Daughter" color="#3B4E67">my</font><font face="Dosis">GoPro</font><font face="Architects Daughter" color="#3B4E67">edits</font>
		
		<p style="margin-top: 15px;">
			Already have a video that you would like to be professionally edited?
			<a class="btn btn-primary btn-xs " href="#" role="button">Lets get started!</a>
		</p>
	</h1>
	
</div>



