<div class="jumbotron title1">
	<div class="col-sm-6 highlight text-center" style="color: white;">
		<h1>
			My GoPro edits
		</h1>
		<p>
			already have a video that you would like professionally edited? 
		</p></br>
		<button type="button" class="btn btn-primary" style="margin-top: -30px;">Lets get started!</button> 
	</div>
</div>



