<h1 class="text-center">
	Site Plan
</h1>
<div id="presentation">
	<h3>
		Target Audience
	</h3>
	<p>
		The target audience for this website is mostly focused on college aged young adults, but the audience can be much more than that. Lots of teens these days have been buying GoPro’s as well as older adults. Really the audience focuses on the active. People that are out doing things daily, whether it be sports, extreme activities, or even hanging out with friends, but the audience does tend to be the outdoors type.
	</p><br>
	<h3>
		Personas
	</h3>
	<h4>
		Age Education Family Status Goal/Issue
	</h4>
	<p>
		Steven, 23, in college, single. Steven went on a weeklong trip to Hawaii and needs his videos to be edited for himself and his friends. Would like something a little more professional.
	</p>
	<p>
		Jake, 17, high school, single. Jake is a full time professional Skier and would like some videos to promote himself. He wants videos that are very unique and creative. He would like to use this video to advertise for himself and land new sponsors.
	</p>
	<p>
		Annie, 27, Graduated, married. Annie recently went to the park where she and her family created some videos of them playing Frisbee and soccer, she wants to create a video for her relatives to see how her family is doing.
	</p><br>
	<h3>
		Scenarios
	</h3>
	<ol>
		<li>I just went skydiving and got amazing footage but I don’t know how to get started, what can I do?
		</li>
		<li>Just went to Korea with some friends; I want the video to be shared with them.
		</li>
		<li>I had my kids birthday party, I want to show the family some of the fun things that we did.
		</li>
		<li>I had an amazing ski day and want to share it with some friends on Facebook.
		</li>
		<li>I've been practicing for football tryouts and I want the coaches to see some of the workouts that I have been doing.
		</li>
		<li>I want to be a professional wake boarder and get recognition through a professional video.
		</li>
		<li>I am a professional Long Boarder but I don’t have sponsors, can your video help me land one?
		</li>
		<li>What can I do with all of this footage from my trip in Hawaii? Is there a way to organize it all?
		</li>
		<li>I need tips on editing my own videos, where is a website for that?
		</li>
		<li>I want to see some of the work you have done, do you have any edits that I could check out for the future?
		</li>
	</ol><br>
	<h3>
		Content List
	</h3>
	<p>
		My website will mainly be separated by 3 main components, but my website will work in a way that those components will have other components/subcategories. They will be as follows:
	</p>
	<ol>
		<li>The video edit
		</li>
		<li style="list-style: none">
			<ul>
				<li>Good (These videos will be roughly 2-5 minutes long, very quick edits, mostly contain the main idea and fast transitions.)
				</li>
				<li>Better (These videos will be roughly 5-7 minutes long, somewhat quick edit, looks nice, nice transitions, and music to help the video flow.)
				</li>
				<li>Best (This video has amazing transitions, very clean, and very well done, looks like it was created by a professional. These videos will mostly be used for self promotion or getting noticed.)
				</li>
			</ul>
		</li>
		<li>Example videos
		</li>
		<li style="list-style: none">
			<ul>
				<li>Sports (videos made to promote oneself in a sport, or just fun sport videos such as skiing, skateboarding, or even skydiving.)
				</li>
				<li>Family (videos made at a park or with the family to be used to share with the family)
				</li>
				<li>Fun (just random videos, such as tubing or even tying a goPro to a ducks face)
				</li>
			</ul>
		</li>
		<li>Video editing blog
		</li>
		<li style="list-style: none">
			<ul>
				<li>How to start
				</li>
				<li>How to film
				</li>
				<li>Video editing tutorials (different techniques)
				</li>
			</ul>
		</li>
	</ol><br>
	<h3>
		Site Map
	</h3><%= image_tag("siteMap.png") %><br>
	<h3>
		CSS Style
	</h3>
	<h4>
		Colors:
	</h4><%= image_tag("css.png") %>
	<h4>
		Fonts:
	</h4>
	<p>
		headings: "Righteous"
	</p>
	<p>
		body text: "Roboto"
	</p>
</div>

			

