<h1 class="text-center">CSS Selectors Presentation</h1>
<div id="presentation">
	<p>For my presentation, I showed the class some examples of how to use CSS selectors, I first showed them this slide:</p>
	<%= image_tag("presentation1.png") %>
	<p>Which allowed them to see exactly how selectors worked, and what they did. </p>
	<p>I then showed them the CSS that runs styling of that website which looked like this:</p>
	<%= image_tag("presentation2.png") %>
	<p>I then gave them examples by changing different elements of the page and even going to the w3schools website to give more examples in greater detail</p>
</div>
		
			

