<div style="margin-top: 290px; margin-left: 25px;">
<h1>Proximity Design</h1>
<p>This website is a great example of proximity design. It has a perfect amount of white space and allows the user to focus on what is important.</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Screenshot from example website
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="container">
		<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item" src="/assets/proximity.png"></iframe>
				</div>
        
	</div>
</div>

<p>Check out the website: <a href="http://species-in-pieces.com/#">Species in Pieces</a></p>
