<div class="text-center">
	<h1>All photos were purchased using <a href="http://www.shutterstock.com">shutterstock.com</a></h1>
	<p>runners photo was taken by: <a href="http://www.shutterstock.com/gallery-462787p1.html">Rihardzz</a></p>
</div>