<div class="container text-center col-xs-12 col-md-6">
	<div class="row homeRow" style="margin-top: 100px;">
		<div class="top-line"></div>
		<h1>register</h1>
		<p>get your adrenaline fix now!</p>
		<%= link_to 'register', triathlon_registration_path, class: "btn btn-primary", style: "margin-bottom: 20px;"  %>
	</div>
	<div class="row homeRow">
		<div class="top-line"></div>
		<h1>route</h1>
		<p>want to see the crazy but awesome route?</p>
		<%= link_to 'get ready for it!', triathlon_route_path, class: "btn btn-primary", style: "margin-bottom: 20px;"  %>
	</div>
</div>
<div class="header col-xs-12 col-md-6">
	<h1>The time has come!</h1>
	<p>Are you a thrill seeker? Are you looking to do something no one has ever done before? Then it's time!</p>
	<p>The prison to prison triathlon will be near Half Ironman, consisting of:</p> 
	<ul>
		<li>a run of roughly 16 miles</li>
		<li>a challenging swim of 3 miles</li>
		<li>scenic cycling course of 25 miles</li>
	</ul>
</div>