<div class="container registerRow text-center col-xs-12 col-md-6">
	<h1>Get Registered!</h1>
	<p>registration costs $100</p>
	<p>But the $100 is totally worth it! Is money going to stop you from having the time of your life? The time of your life is now, get signed up and join in on the fun!</p>
	<p>Plus, just by competing in this race, you immediately receive bragging rights for the rest of your life!</p>
	<%= link_to 'click here to be taken through our secure payment system', '#', class: "btn btn-primary", style: "margin-bottom: 20px;"  %>
	<p>Need just a little more motivation? Check out the video!</p>
</div>
<div class="container col-xs-12 col-md-5 pull-right">
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M54_8SpBFsI" allowfullscreen></iframe>
	</div>
</div>


