<div class="container col-xs-12 col-md-5 col-md-offset-7" style="color: white;">
	<h1>Route</h1>
	<p>The race will begin near San Quentin, run to Fisherman's wharf, swim to Alcatraz island and back and then bike around San Francisco bay, crossing the John T. Knox freeway and ending where the race began.</p>
	
	<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#map">
	  click to view map
	</button>

	<div class="modal fade" id="map" tabindex="-1" role="dialog" aria-labelledby="routeMap">
	      <%= image_tag('route.png') %>
	     
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	     
	   
	</div>
</div>
	
