<h1 class="text-center">Welcome to the video blog!</h1> 
<h2 class="text-center">get started by logging in or creating an account</h2>
<p class="text-center"><%= link_to "create account", new_user_registration_path, class: "btn btn-primary" %> &nbsp <%= link_to "login",  new_user_session_path, class: "btn btn-primary" %></p>
<div class="col-md-4 text-center">
	<h4>Getting Started</h4>
	<p>(examples from this section will show here)</p>
</div>
<div class="col-md-4 text-center">
	<h4>Film Skills</h4>
	<p>(examples from this section will show here)</p>
</div>
<div class="col-md-4 text-center">
	<h4>Tutorials</h4>
	<p>(examples from this section will show here)</p>
</div>
