// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title1 {
	background-image: image-url("gopro2.jpg");
	min-height: 700px;
	margin-top: -190px;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;
	background-position: center;
	
}

.highlight {
	margin-top: 570px;
	background-color: rgba(255,255,255, 1.0);
}