// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.welcome { 
  background: url(gopro2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome .navbar {
	background-color: transparent;
	border-color: transparent;
	a {
		color: white !important;
	}
}

.welcome h1 {
	font-family: 'Righteous', cursive;
}

.welcome h2, h3, h4, h5, p {
	font-family: 'Roboto', sans-serif;
	color: white;
}

.title1 {
	background-color: transparent !important;
	position: relative;
	margin-left: 30px;
	
	
}
.title1 p {
	color: white;
}

.jumbotron {
	background-color: transparent !important;
	
}

.highlight {
	margin-top: -20px;
	color: white;
	text-shadow: 0px 0px 10px black;

}

