<div class="container text-center">
	<h1>Best quality edits</h1>
	<h4>These are the best videos that we have to offer! You may have just gotten married and have some footage that you want to look great, you may be creating an advertisement, or maybe you just want some OUTSTANDING video. This is definitely best for you.</h4>
	<%= link_to "checkout", "#", class: 'btn btn-primary' %>

	<p>Here are some more examples: </p>

	<p>(will include examples)</p>
</div>