<div class="container text-center">
	<h1>Better quality edits</h1>
	<h4>If you are looking for something to promote your brand/product or are looking for sponsors, or even just want some good looking video, this is what will suit you best. It will look great and you will love it, but will still lack some qualities that the best has to offer.</h4>
	<%= link_to "checkout", "#", class: 'btn btn-primary' %>

	<p>Here are some more examples: </p>

	<p>(will include examples)</p>>
</div>