<h1 class="text-center">Edit qualities</h1> 
<h2 class="text-center">Click the quality that you like to get started:</h2>
<div class="col-md-4 text-center">
	<h4>Good</h4>
	<p>(examples from this section will show here)</p>
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TP8RB7UZHKI" allowfullscreen></iframe>
	</div>
	<p><%= link_to "If you would like a \"good\" quality video click here", edit_qualities_good_path %></p>
</div>
<div class="col-md-4 text-center">
	<h4>Better</h4>
	<p>(examples from this section will show here)</p>
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_OBlgSz8sSM" allowfullscreen></iframe>
	</div>
	<p><%= link_to "If you would like a \"better\" quality video click here", edit_qualities_better_path %></p>
</div>
<div class="col-md-4 text-center">
	<h4>Best</h4>
	<p>(examples from this section will show here)</p>
	<div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zGxwbhkDjZM" allowfullscreen></iframe>
	</div>
	<p><%= link_to "If you would like the \"best\" quality video click here", edit_qualities_best_path %></p>
</div>
