<nav class="navbar-fixed-bottom" id="footer">
  <div class="container">
    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
		
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        
      <ul class="nav navbar-nav navbar-right" >
				<li><%= link_to "Site Plan", triathlon_sitePlan_path %></li>
				<li><%= link_to "Credits", triathlon_credits_path %></li>
        <li><%= link_to "Copyright Dylan Little 2015", 'https://www.linkedin.com/in/dylanlittle' %></li>
      </ul>
    </div>
  </div>
</nav>